* {
	box-sizing: border-box;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

#todo-list {
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	max-width: 1200px;
}

#todo-list_input {
	font-family: 'Courier New', Courier, monospace;
	color: deepskyblue;
	border-color: deepskyblue;
	font-size: xx-large;
	font-weight: 700;
	padding: 0.7rem;
	border-width: 4px;
	outline: none;
	width: 100%;
}

::placeholder {
	color: deepskyblue;
	opacity: 0.7;
}

.todo-list_item {
	user-select: none;
	color: white;
	background-color: lightcoral;
	margin: 0.5rem auto;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: move;
}

.todo-list_item_text {
	margin: 0.5rem 1rem 0.5rem 1rem;
}

.todo-list_item_delete-button {
	margin: 0;
	background-color: white;
	color: lightcoral;
	padding: 1rem 1.5rem;
	cursor: pointer;
}

.todo-list_item_delete-button:hover {
	background-color: darkmagenta;
	color: white;
}

.todo-list_item_delete-button h1 {
	margin: 0;
}
